html{
  font-size: 18px;
}
body{
  font-size: 18px;
  font-style: Helvetica;
  background-color: white;


}
#logo{
  display: flex;
  background-color: black;
  width: 100%;
  justify-content: center;
}
  .container{
  display: flex;
  width: 960px;
}
.logo1{
  display: block;
  height: 1.5rem;
  padding: 0.5rem;

}
#logo h3{
  display: block;
  font-size: 1rem;
  color: white;
  padding: 0.66rem  0.5rem;
  margin: 0;
}
#banner {
  display: flex;
  background-image:url(../images/moto.jpeg);
  background-size: cover;
  height: 25rem;
  justify-content: center;

}
.backgimg{

  width: 25rem;
  margin-top: 9rem;
  height: 10rem;
  background-color: black;

}
.backgimg h3{
  color: white;

  font-size: 1rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-left: 3rem;
  margin: 0;
}
.backgimg h1{
  color: white;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 0.25rem;
  padding-left: 3rem;
  padding-bottom: 2rem;
  margin: 0;

}
#menu {
  display: flex;
  justify-content: center;
  background-color: firebrick;

}
.items{
  display: flex;
  justify-content: space-around;
}
.box{
  display: flex;
  color: white;
  padding: 0.75rem 0rem;
}
.bannertitle{
  display: flex;

}
.products{
  display: flex;
  justify-content: space-between;
  width: 960px;

}
.watch1,.pen1,.glasses1{
  display: flex;
  width: 9rem;
  height: 9rem;
  margin: 2rem;

}
.line{
  display: flex;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
}

.watch,.pen,.glasses{
  display: inline-flex;
  width: 30%;
  height: 17.5rem;
  border: solid 4px black;
  flex-flow: column;
  justify-content: center;
  align-items: center;

}
#main, #main2{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.location,.hours{
  display: flex;
  width: 35%;
  flex-flow: column;
  margin: 0;
  padding: 0;

}


.info{
  display: flex;
  justify-content: space-between;
  width: 960px;
  margin: 0;
  padding: 0;
  height: 7rem;

}
.line1{
  display: flex;
  color: white;
  background-color: black;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.line2{
  display: flex;
  line-height: 0rem;
  margin-bottom: 4rem;
}
.line3{
  display: flex;
  color: white;
  background-color: black;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

}
.line4{
  display: flex;
  width: 100%;
  line-height: 0rem;
  margin-bottom: 4rem;
}
.line1 h3{
  font-weight: bold;
}
.line3 h3{
  font-weight: bold;
}
footer{
  display: flex;
  height: 5rem;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin-top: 4rem;
}
.copyright{
  color: white;
  font-weight: bold;
  text-align: left;
}
