html{
  font-size: 18px;
}
body{
  font-style: Helvetica;
  background-color: white;
  margin: 0;
  padding:0;


}
#logo{
  display: flex;
  background-color: black;
  width: 100%;
  justify-content: center;
}
  .container{
  display: flex;
  width: 960px;
}
.logo1{
  display: block;
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}
#logo h3{
  display: block;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 0.66rem  1rem;
  margin: 0;
}
#banner {
  display: flex;
  background-image:url(../images/moto.jpeg);
  background-size: cover;
  height: 25rem;
  justify-content: center;

}
.backgimg{
  width: 25rem;
  margin-top: 9rem;
  height: 10rem;
  background-color: black;

}
.backgimg h3{
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0;
  padding-left: 3rem;
}
.backgimg h1{
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: auto;
  padding-left: 3rem;
}
#menu {
  display: flex;
  justify-content: center;
  background-color: firebrick;
}
#menu1{
  display: flex;
  justify-content: center;
  background-color: firebrick;
}
.items{
  display: flex;
  justify-content: space-between;
}
.item{
  display: flex;
  justify-content: center;
}
.box h3{
  display: flex;
  color: white;
  margin: 0.75rem 0rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: helvetica;
}
.box1 h3{
  display: block;
  color: white;
  margin: 0.75rem 0rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: helvetica;

}
.bannertitle{
  display: flex;

}
.products{
  display: flex;
  justify-content: space-between;
  width: 960px;

}
.watch1,.pen1,.glasses1{
  display: flex;
  width: 9rem;
  height: 9rem;
  margin: 2rem;
  align-items: center;

}
.line{
  background-color: black;
  width: 100%;
}
.line h3{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  font-family: helvetica;
  color: white;
  width: 100%;
  margin: 0.5rem 0rem;

}
.watch,.pen,.glasses{
  display: inline-flex;
  width: 30%;
  height: 15rem;
  border: solid 4px black;
  justify-content: center;
  align-items: center;
  flex-flow: column;


}
#main, #main2{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 0rem;
}
.location,.hours{
  display: flex;
  width: 33%;
  flex-flow: column;
  margin: 0;
  height: 4rem;
}

.info{
  display: flex;
  justify-content: space-between;
  width: 960px;
  margin: 0;
  height: 7rem;
}
.line1{
  display: flex;
  color: white;
  background-color: black;
}


.line2 h4,.line4 h4{
  display: flex;
  margin:0;
}
.line3{
  display: flex;
  color: white;
  background-color: black;
}


.line1 h3, .line3 h3{
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
  padding-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#end{
  display: flex;
  height: 5rem;
  width: 100%;
  justify-content: center;
  background-color: black;
  margin-top: 0;
}
.copyright.container{
  display: flex;
  align-items: center;
}
.copyright.container h3{
  display: block;
  color: white;
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
}
@media only screen and (min-width: 1024px)
{
  #menu1{
    display: none;
  }
}
@media only screen and (max-width: 1024px),(orientation: portrait)
{
  #menu{
    display: none;
  }

}
